
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 9999;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.gambar-sampah{
  background-image: url('./images/sampah_organik.jpg');
  width: 900px;
  border-Radius: 10px;
  box-Shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-repeat: repeat;
  background-size: cover;
  transform: translateY(-20%);
}

.gambar-mobil{
  background-image: url('./images/sampah _mobil.jpg');
  width: 900px;
  border-Radius: 10px;
  box-Shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-repeat: repeat;
  background-size: cover;
  transform: translateY(-20%);
}

@media only screen and (max-width: 942px) {
  .gambar-sampah, .gambar-mobil {
    width: 70vh;
  }
}

@media only screen and (max-width: 672px) {
  .gambar-sampah, .gambar-mobil {
    width: 45vh;
  }
}